{% extends 'base.html' %}
{% load bootstrap3 %}
{%block content%}
<div class="container">
    <div class="col-sm-12 col-lg-2"></div>
    <div class="col-sm-12 col-lg-8 m-auto card" style="padding: 2%;">
        <h3 class="text-center">Add Post</h3>

        <form action="{%url 'post'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-md btn-primary" value="Save"><br><br>
        </form>
    </div>
    <div class="col-sm-12 col-lg-2"></div>

    <br>
</div>
{% endblock %}