{% extends 'base.html' %}
{% load bootstrap3 %}
{%block content%}
<div>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-lg-8 m-auto card" style="padding: 2%;">
            <h3 class="text-center">Add New Neighborhood</h3>

            <form action="{%url 'hood'%}" method="post" enctype="multipart/form-data">
                <br>
                {%csrf_token%}

                {% bootstrap_form form%}
                <input type="submit" class="btn default-color btn-lg btn-center" value="Post">
                <br><br>
            </form>
        </div>
        <div class="col-md-2"></div>    </div>
</div>
{% endblock %}
